<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New project form</title>
    <style>
        body {
            padding: 20px 100px 100px 100px;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;    
        }

        label {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        input {
            width: 300px;
        }

        button {
            margin-top: 30px;
            width: 100px;
        }
    </style>
</head>
<body>
    
    <h1>Forma za dodavanje projekta</h1>

    <form method="POST" action="/projects">

        <label for="naziv_projekta">Naziv projekta</label>
        <input type="text" name="naziv_projekta" id="naziv_projekta">

        <label for="opis_projekta">Opis projekta</label>
        <input type="text" name="opis_projekta" id="opis_projekta">

        <label for="cijena_projekta">Cijena projekta</label>
        <input type="number" name="cijena_projekta" id="cijena_projekta">

        <label for="obavljeni_poslovi">Obavljeni poslovi</label>
        <input type="text" name="obavljeni_poslovi" id="obavljeni_poslovi">

        <label for="datum_pocetka">Datum pocetka</label>
        <input type="date" name="datum_pocetka" id="datum_pocetka">

        <label for="datum_zavrsetka">Datum zavrsetka</label>
        <input type="date" name="datum_zavrsetka" id="datum_zavrsetka">

        <button type="submit">Pohrani</button>

    </form>

</body>
</html>